:root {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #4d4d4d;
  color-scheme: normal;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("../src/assets/Background_3.svg");
  background-size: cover;
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 100dvh;
}

a {
  font-weight: 500;
  color: #697882;
  text-decoration: inherit;
}
a:hover {
  color: #8da2af;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100%;
  min-width: 860px;
  width: 100%;
}

h1 {
  font-size: 1em;
  display: inline-block;
  margin-right: 5px;
  margin: 0;
  color: #252525;
}

h1.title {
  font-size: 1em;
  display: inline-block;
  margin-right: 7px;
  margin: 0;
  letter-spacing: 0.5em;
}

h2.title {
  font-size: 14px;
  margin: 0;
  padding-left: 80px;
  letter-spacing: 0.3em;
  color: #4d4d4d;
}

h2 {
  font-size: 14px;
  color: #4d4d4d;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.step-clickable {
  cursor: pointer;
}
button:hover {
  border-color: #8da2af;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:root {
  color: #213547;
  background-color: #ffffff;
}
a:hover {
  color: #8da2af;
}
button {
  background-color: #f9f9f9;
}

.chooseAnalysis {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.sampling {
  display: flex;
  justify-content: center;
}
.outputOptions {
  display: flex;
  justify-content: center;
}
.upload {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

.parameter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.node circle {
  fill: #c3c3c3;
  stroke: #c3c3c3;
  stroke-width: 3.5px;
}

.node {
  font: 15px sans-serif;
}

link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

line {
  stroke: rgb(79, 79, 79);
}

.lines {
  stroke: rgb(98, 98, 98);
  fill: none;
}

rect.axis_rect {
  background-color: white;
}

text.label {
  transform-box: fill-box;
  transform-origin: bottom;
  font: 15px sans-serif;
  fill: rgb(98, 98, 98);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: auto;
  max-width: 85%;
  height: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.header img {
  width: 50px;
  height: 50px;
}

.header h1 {
  font-size: 20px;
  color: #4d4d4d;
  margin-left: 10px;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 0;
}
.right-section img {
  width: 15px;
  height: 15px;
}

.right-section a:last-child {
  margin-right: 0;
}
.stepper-box {
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
  color: #4d4d4d;

  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-box {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.content {
  flex: 1;
}

.content-box h1 {
  margin-bottom: 10px;
}
.result-box {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
  flex: 1;
}

#svg-chart {
  width: 100%;
  height: 100%;
}

#svg-chart-tsne {
  width: 100%;
  height: 85%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.slider {
  width: 60%;
  display: grid;
  margin-top: -15px;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.reset {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.plotSlider {
  overflow: hidden;
  display: hidden;
  height: 100%;
  flex-direction: column;
}

.plotSliderTsne {
  overflow: hidden;
  display: block;
  height: 100%;
}

.bctPlot {
  overflow: hidden;
  height: 100%;
}

.settings {
  margin-left: auto;
  margin-right: 0;
}

.buttonRight {
  margin-left: auto;
}

button:focus {
  outline: none;
}

.settingsDownload {
  display: flex;
  gap: 10px;
  align-self: center;
}

.scatterChart {
  flex: 1;
  aspect-ratio: 1.6 / 1;
  max-width: 100%;
  max-height: 100%;
}

.caChart {
  flex: 1;
  width: 100%;
}
